In [85]:
import pandas as pd
import numpy as np

In [90]:
# Leemos en datasets beta
bitcoin_price = pd.read_csv("data/beta/bitcoin_price.csv")
ethereum_price = pd.read_csv("data/beta/ethereum_price.csv")
ripple_price = pd.read_csv("data/beta/ripple_price.csv")
solana_price = pd.read_csv("data/beta/solana_price.csv")
okb_price = pd.read_csv("data/beta/okb_price.csv")
arbitrum_price = pd.read_csv("data/beta/arbitrum_price.csv")
optimism_price = pd.read_csv("data/beta/optimism_price.csv")
elrond_price = pd.read_csv("data/beta/elrond_price.csv")
boba_price = pd.read_csv("data/beta/boba_price.csv")
gmd_price = pd.read_csv("data/beta/gmd_price.csv")

In [91]:
bitcoin_halvings = pd.read_csv("data/beta/bitcoin_halvings.csv")

In [92]:
bitcoin_price['timestamp'] = pd.to_datetime(bitcoin_price['timestamp'])
ethereum_price['timestamp'] = pd.to_datetime(ethereum_price['timestamp'])
ripple_price['timestamp'] = pd.to_datetime(ripple_price['timestamp'])
solana_price['timestamp'] = pd.to_datetime(solana_price['timestamp'])
okb_price['timestamp'] = pd.to_datetime(okb_price['timestamp'])
arbitrum_price['timestamp'] = pd.to_datetime(arbitrum_price['timestamp'])
optimism_price['timestamp'] = pd.to_datetime(optimism_price['timestamp'])
elrond_price['timestamp'] = pd.to_datetime(elrond_price['timestamp'])
boba_price['timestamp'] = pd.to_datetime(boba_price['timestamp'])
gmd_price['timestamp'] = pd.to_datetime(gmd_price['timestamp'])
bitcoin_halvings['timestamp'] = pd.to_datetime(bitcoin_halvings['timestamp'])

In [93]:
ethereum_price.head()

,cryptocurrency_id,timestamp,price_btc,price_eth,price_eur,price_usd,price_satoshis,market_cap_btc,market_cap_eth,market_cap_eur,market_cap_usd,market_cap_satoshis,total_volume_btc,total_volume_eth,total_volume_eur,total_volume_usd,total_volume_satoshis
0,ethereum,2015-08-07,0.010141,1.0,2.580213,2.831620,NaN,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,NaN,324.551587,3.200359e+04,8.257608e+04,9.062200e+04,NaN
1,ethereum,2015-08-08,0.004954,1.0,1.175306,1.330750,NaN,299059.054623,6.037158e+07,7.095505e+07,8.033948e+07,NaN,1370.119312,2.765884e+05,3.250759e+05,3.680700e+05,NaN
2,ethereum,2015-08-10,0.002609,1.0,0.624116,0.687586,NaN,157662.163302,6.043801e+07,3.772033e+07,4.155631e+07,NaN,1519.336859,5.824206e+05,3.634980e+05,4.004641e+05,NaN
3,ethereum,2015-08-11,0.003955,1.0,0.966607,1.067379,NaN,239151.338017,6.046495e+07,5.844581e+07,6.453901e+07,NaN,5628.696102,1.423111e+06,1.375588e+06,1.518998e+06,NaN
4,ethereum,2015-08-12,0.004694,1.0,1.126292,1.256613,NaN,283936.060739,6.049058e+07,6.813006e+07,7.601326e+07,NaN,7746.715489,1.650383e+06,1.858814e+06,2.073893e+06,NaN

In [94]:
# Crear una tabla de fechas Ãºnica
unique_dates = pd.concat([bitcoin_halvings['timestamp'],
                          arbitrum_price['timestamp'],
                          bitcoin_price['timestamp'],
                          boba_price['timestamp'],
                          elrond_price['timestamp'],
                          ethereum_price['timestamp'],
                          gmd_price['timestamp'],
                          okb_price['timestamp'],
                          optimism_price['timestamp'],
                          ripple_price['timestamp'],
                          solana_price['timestamp']]).unique()

df_date = pd.DataFrame({'date': unique_dates})
df_date = df_date.sort_values(['date'], ignore_index=True)
df_date['date_id'] = range(1, len(df_date) + 1)
df_date['year'] = df_date['date'].dt.year
df_date['month'] = df_date['date'].dt.month
df_date['day'] = df_date['date'].dt.day

In [95]:
df_date.head()

        date  date_id  year  month  day
0 2012-11-28        1  2012     11   28
1 2013-04-28        2  2013      4   28
2 2013-04-29        3  2013      4   29
3 2013-04-30        4  2013      4   30
4 2013-05-01        5  2013      5    1

In [96]:
df_date.to_csv("data/launch/crypto_date.csv", index=False)

In [97]:
# Unificar todas las tablas de precios
all_prices = pd.concat([arbitrum_price, bitcoin_price, boba_price, elrond_price, ethereum_price, gmd_price, okb_price, optimism_price, ripple_price, solana_price])
merged_prices = all_prices.merge(df_date[["date", "date_id"]], left_on='timestamp', right_on='date', how='inner')
merged_prices = merged_prices.drop(columns=['date'])
merged_prices = merged_prices.sort_values(['timestamp'], ignore_index=True)
merged_prices = merged_prices[['cryptocurrency_id', 'date_id', 'price_btc', 'price_eth', 'price_eur', 'price_usd', 'price_satoshis', 'market_cap_btc', 'market_cap_eth', 'market_cap_eur', 'market_cap_usd', 'market_cap_satoshis', 'total_volume_btc', 'total_volume_eth', 'total_volume_eur', 'total_volume_usd', 'total_volume_satoshis']]

In [99]:
merged_prices.head()

,cryptocurrency_id,date_id,price_btc,price_eth,price_eur,price_usd,price_satoshis,market_cap_btc,market_cap_eth,market_cap_eur,market_cap_usd,market_cap_satoshis,total_volume_btc,total_volume_eth,total_volume_eur,total_volume_usd,total_volume_satoshis
0,bitcoin,2,1.0,NaN,103.1862,135.30,NaN,1.109030e+07,NaN,1.144366e+09,1.500518e+09,NaN,0.0,NaN,0.0,0.0,NaN
1,bitcoin,3,1.0,NaN,110.3745,141.96,NaN,1.109490e+07,NaN,1.224594e+09,1.575032e+09,NaN,0.0,NaN,0.0,0.0,NaN
2,bitcoin,4,1.0,NaN,106.3128,135.30,NaN,1.109873e+07,NaN,1.179937e+09,1.501657e+09,NaN,0.0,NaN,0.0,0.0,NaN
3,bitcoin,5,1.0,NaN,88.6291,117.00,NaN,1.110215e+07,NaN,9.839736e+08,1.298952e+09,NaN,0.0,NaN,0.0,0.0,NaN
4,bitcoin,6,1.0,NaN,80.5923,103.43,NaN,1.110575e+07,NaN,8.950379e+08,1.148668e+09,NaN,0.0,NaN,0.0,0.0,NaN

In [100]:
merged_prices.to_csv("data/launch/crypto_price.csv", index=False)

In [104]:
# Leemos en datasets beta
bitcoin_cg_history_range = pd.read_csv("data/beta/bitcoin_cg_history_range.csv")
ethereum_cg_history_range = pd.read_csv("data/beta/ethereum_cg_history_range.csv")
ripple_cg_history_range = pd.read_csv("data/beta/ripple_cg_history_range.csv")
solana_cg_history_range = pd.read_csv("data/beta/solana_cg_history_range.csv")
okb_cg_history_range = pd.read_csv("data/beta/okb_cg_history_range.csv")
arbitrum_cg_history_range = pd.read_csv("data/beta/arbitrum_cg_history_range.csv")
optimism_cg_history_range = pd.read_csv("data/beta/optimism_cg_history_range.csv")
elrond_cg_history_range = pd.read_csv("data/beta/elrond-erd-2_cg_history_range.csv")
boba_cg_history_range = pd.read_csv("data/beta/boba-network_cg_history_range.csv")
gmd_cg_history_range = pd.read_csv("data/beta/gmd-protocol_cg_history_range.csv")

In [105]:
bitcoin_cg_history_range['timestamp'] = pd.to_datetime(bitcoin_cg_history_range['timestamp'])
ethereum_cg_history_range['timestamp'] = pd.to_datetime(ethereum_cg_history_range['timestamp'])
ripple_cg_history_range['timestamp'] = pd.to_datetime(ripple_cg_history_range['timestamp'])
solana_cg_history_range['timestamp'] = pd.to_datetime(solana_cg_history_range['timestamp'])
okb_cg_history_range['timestamp'] = pd.to_datetime(okb_cg_history_range['timestamp'])
arbitrum_cg_history_range['timestamp'] = pd.to_datetime(arbitrum_cg_history_range['timestamp'])
optimism_cg_history_range['timestamp'] = pd.to_datetime(optimism_cg_history_range['timestamp'])
elrond_cg_history_range['timestamp'] = pd.to_datetime(elrond_cg_history_range['timestamp'])
boba_cg_history_range['timestamp'] = pd.to_datetime(boba_cg_history_range['timestamp'])
gmd_cg_history_range['timestamp'] = pd.to_datetime(gmd_cg_history_range['timestamp'])

In [106]:
# Unificar todas las tablas de history range
all_cg_history_range = pd.concat([arbitrum_cg_history_range, bitcoin_cg_history_range, boba_cg_history_range, elrond_cg_history_range, ethereum_cg_history_range, gmd_cg_history_range, okb_cg_history_range, optimism_cg_history_range, ripple_cg_history_range, solana_cg_history_range])
merged_cg_history_range = all_cg_history_range.merge(df_date[["date", "date_id"]], left_on='timestamp', right_on='date', how='inner')
merged_cg_history_range = merged_cg_history_range.drop(columns=['date'])
merged_cg_history_range = merged_cg_history_range.sort_values(['timestamp'], ignore_index=True)
merged_cg_history_range = merged_cg_history_range[['cryptocurrency_id', 'date_id', 'price_usd', 'market_cap', 'total_volume_24h']]

In [107]:
merged_cg_history_range.head()

  cryptocurrency_id  date_id  price_usd    market_cap  total_volume_24h
0           bitcoin        2     135.30  1.500518e+09               0.0
1           bitcoin        3     141.96  1.575032e+09               0.0
2           bitcoin        4     135.30  1.501657e+09               0.0
3           bitcoin        5     117.00  1.298952e+09               0.0
4           bitcoin        6     103.43  1.148668e+09               0.0

In [108]:
merged_cg_history_range.to_csv("data/launch/crypto_history_price.csv", index=False)

In [63]:
# Leemos en datasets beta
bitcoin_social = pd.read_csv("data/beta/bitcoin_social.csv")
ethereum_social = pd.read_csv("data/beta/ethereum_social.csv")
ripple_social = pd.read_csv("data/beta/ripple_social.csv")
solana_social = pd.read_csv("data/beta/solana_social.csv")
okb_social = pd.read_csv("data/beta/okb_social.csv")
arbitrum_social = pd.read_csv("data/beta/arbitrum_social.csv")
optimism_social = pd.read_csv("data/beta/optimism_social.csv")
elrond_social = pd.read_csv("data/beta/elrond_social.csv")
boba_social = pd.read_csv("data/beta/boba_social.csv")
gmd_social = pd.read_csv("data/beta/gmd_social.csv")

In [64]:
bitcoin_social['timestamp'] = pd.to_datetime(bitcoin_social['timestamp'])
ethereum_social['timestamp'] = pd.to_datetime(ethereum_social['timestamp'])
ripple_social['timestamp'] = pd.to_datetime(ripple_social['timestamp'])
solana_social['timestamp'] = pd.to_datetime(solana_social['timestamp'])
okb_social['timestamp'] = pd.to_datetime(okb_social['timestamp'])
arbitrum_social['timestamp'] = pd.to_datetime(arbitrum_social['timestamp'])
optimism_social['timestamp'] = pd.to_datetime(optimism_social['timestamp'])
elrond_social['timestamp'] = pd.to_datetime(elrond_social['timestamp'])
boba_social['timestamp'] = pd.to_datetime(boba_social['timestamp'])
gmd_social['timestamp'] = pd.to_datetime(gmd_social['timestamp'])

In [67]:
# Unificar todas las tablas de social
all_social = pd.concat([arbitrum_social, bitcoin_social, boba_social, elrond_social, ethereum_social, gmd_social, okb_social, optimism_social, ripple_social, solana_social])
merged_social = all_social.merge(df_date[["date", "date_id"]], left_on='timestamp', right_on='date', how='inner')
merged_social = merged_social.drop(columns=['date'])
merged_social = merged_social.sort_values(['timestamp'], ignore_index=True)
merged_social = merged_social[['cryptocurrency_id', 'date_id', 'twitter_followers', 'reddit_average_posts_48h', 'reddit_average_comments_48h', 'reddit_subscribers', 'reddit_accounts_active_48h']]

In [68]:
merged_social.head()

,cryptocurrency_id,date_id,twitter_followers,reddit_average_posts_48h,reddit_average_comments_48h,reddit_subscribers,reddit_accounts_active_48h
0,bitcoin,326,44768.0,0.0,0.0,NaN,NaN
1,bitcoin,327,44984.0,0.0,0.0,NaN,NaN
2,bitcoin,328,45147.0,0.0,0.0,NaN,NaN
3,bitcoin,329,45313.0,0.0,0.0,NaN,NaN
4,bitcoin,330,45490.0,0.0,0.0,NaN,NaN

In [69]:
merged_social.to_csv("data/launch/crypto_social.csv", index=False)

In [70]:
# Leemos en datasets beta
bitcoin_dev = pd.read_csv("data/beta/bitcoin_dev.csv")
ethereum_dev = pd.read_csv("data/beta/ethereum_dev.csv")
ripple_dev = pd.read_csv("data/beta/ripple_dev.csv")
solana_dev = pd.read_csv("data/beta/solana_dev.csv")
okb_dev = pd.read_csv("data/beta/okb_dev.csv")
arbitrum_dev = pd.read_csv("data/beta/arbitrum_dev.csv")
optimism_dev = pd.read_csv("data/beta/optimism_dev.csv")
elrond_dev = pd.read_csv("data/beta/elrond_dev.csv")
boba_dev = pd.read_csv("data/beta/boba_dev.csv")
gmd_dev = pd.read_csv("data/beta/gmd_dev.csv")

In [71]:
bitcoin_dev['timestamp'] = pd.to_datetime(bitcoin_dev['timestamp'])
ethereum_dev['timestamp'] = pd.to_datetime(ethereum_dev['timestamp'])
ripple_dev['timestamp'] = pd.to_datetime(ripple_dev['timestamp'])
solana_dev['timestamp'] = pd.to_datetime(solana_dev['timestamp'])
okb_dev['timestamp'] = pd.to_datetime(okb_dev['timestamp'])
arbitrum_dev['timestamp'] = pd.to_datetime(arbitrum_dev['timestamp'])
optimism_dev['timestamp'] = pd.to_datetime(optimism_dev['timestamp'])
elrond_dev['timestamp'] = pd.to_datetime(elrond_dev['timestamp'])
boba_dev['timestamp'] = pd.to_datetime(boba_dev['timestamp'])
gmd_dev['timestamp'] = pd.to_datetime(gmd_dev['timestamp'])

In [74]:
# Unificar todas las tablas de dev
all_dev = pd.concat([arbitrum_dev, bitcoin_dev, boba_dev, elrond_dev, ethereum_dev, gmd_dev, okb_dev, optimism_dev, ripple_dev, solana_dev])
merged_dev = all_dev.merge(df_date[["date", "date_id"]], left_on='timestamp', right_on='date', how='inner')
merged_dev = merged_dev.drop(columns=['date'])
merged_dev = merged_dev.sort_values(['timestamp'], ignore_index=True)
merged_dev = merged_dev[['cryptocurrency_id', 'date_id', 'forks', 'stars', 'subscribers', 'total_issues', 'closed_issues', 'pull_requests_merged', 'pull_request_contributors']]

In [75]:
merged_dev.head()

,cryptocurrency_id,date_id,forks,stars,subscribers,total_issues,closed_issues,pull_requests_merged,pull_request_contributors
0,bitcoin,338,3484.0,5200.0,735.0,3988.0,3600.0,NaN,NaN
1,ripple,338,173.0,809.0,243.0,319.0,197.0,NaN,NaN
2,bitcoin,339,3497.0,5204.0,735.0,3990.0,3606.0,NaN,NaN
3,ripple,339,174.0,810.0,244.0,319.0,198.0,NaN,NaN
4,bitcoin,340,3501.0,5209.0,734.0,3994.0,3614.0,NaN,NaN

In [76]:
merged_dev.to_csv("data/launch/crypto_dev.csv", index=False)

In [77]:
# Leemos en datasets beta
bitcoin_current_supply = pd.read_csv("data/beta/bitcoin_current_supply.csv")
ethereum_current_supply = pd.read_csv("data/beta/ethereum_current_supply.csv")

In [78]:
bitcoin_current_supply['timestamp'] = pd.to_datetime(bitcoin_current_supply['timestamp'])
ethereum_current_supply['timestamp'] = pd.to_datetime(ethereum_current_supply['timestamp'])

In [82]:
# Unificar todas las tablas de current_supply
all_current_supply = pd.concat([bitcoin_current_supply, ethereum_current_supply])
merged_current_supply = all_current_supply.merge(df_date[["date", "date_id"]], left_on='timestamp', right_on='date', how='inner')
merged_current_supply = merged_current_supply.drop(columns=['date'])
merged_current_supply = merged_current_supply.sort_values(['timestamp'], ignore_index=True)
merged_current_supply = merged_current_supply[['cryptocurrency_id', 'date_id', 'current_supply']]

In [83]:
merged_current_supply.head()

  cryptocurrency_id  date_id  current_supply
0           bitcoin        1        11091289
1           bitcoin        2        11095639
2           bitcoin        3        11099364
3           bitcoin        4        11103139
4           bitcoin        5        11106489

In [84]:
merged_current_supply.to_csv("data/launch/crypto_current_supply.csv", index=False)

In [101]:
# Agregar date_id al dataset bitcoin_halvings
merged_bitcoin_halvings = bitcoin_halvings.merge(df_date[["date", "date_id"]], left_on='timestamp', right_on='date', how='inner')
merged_bitcoin_halvings = merged_bitcoin_halvings.drop(columns=['date'])
merged_bitcoin_halvings = merged_bitcoin_halvings.sort_values(['timestamp'], ignore_index=True)
merged_bitcoin_halvings = merged_bitcoin_halvings[['id_halving','cryptocurrency_id', 'date_id', 'previous_blocks', 'previous_reward', 'new_reward']]

In [102]:
merged_bitcoin_halvings.head()

,id_halving,cryptocurrency_id,date_id,previous_blocks,previous_reward,new_reward
0,0,bitcoin,1,210000,50.00,25.00
1,1,bitcoin,1169,420000,25.00,12.50
2,2,bitcoin,2571,630000,12.50,6.25
3,3,bitcoin,3765,840000,6.25,3.12
4,4,bitcoin,3766,1050000,3.12,1.56

In [103]:
merged_bitcoin_halvings.to_csv("data/launch/bitcoin_halvings.csv", index=False)